body{
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-header {
    background-color: #111;
    color: white;
    padding: 20px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #e9ecef;
    border-radius: 50px;
    border: none;

}

.main-header h1 {
    margin: 0;
    font-size: 24px;
}

.main-header nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
}

.main-header nav a:hover {
    color: #00bcd4;
}
